* {
  box-sizing: border-box;
}

body {
  background-color: #FFBF69;
  font-family: "Inter", Helvetica, sans-serif;
  margin: auto;
}
/* HOME PAGE */
/* Home Header */
.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
}

.logo-container {
  position: relative;
  height: 102px;
  margin-right: 600px;
}

.logo-inner-container {
  position: absolute;
}

.logo-img {
  float: left;
  padding: 10px;
  width: 128px;
  height: 113px;
}

.logo-title {
  left: 120px;
  margin-left: 8px;
  margin-right: 8px;
  position: absolute;
  font-size: 59px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.70);
}

.slogan {
  /* padding-left: 450px; */
  color: #8609A5;
  text-align: right;
  width: 450px;
  font-size: 20px;
  font-style: italic;
  margin-left: 215px;
  margin-right: 25px;
}

/* Home Buttons */
.home-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.home-button {
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  width: 275px;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: #636363;
  font-size: 13px;
  font-family: "Inter", Helvetica, sans-serif;
  cursor: pointer;
}

.home-button:hover {
  box-shadow: 5px 5px 5px #8609a53b;
}

.laptop-img {
  width: 96px;
  height: 96px;
}

.map-img {
  width: 200px;
  height: 93px;
}

.purple-back {
  background-color: #D393E3;
}

.button1 {
  color: white;
}

.white-back {
  background-color: #FFFFFFB2;
}

.buttontext1 {
  width: 230px;
  text-align: center;
}

/* STUDYING PAGE */
/* Navbar */

.home-img {
  margin-top: 43px;
  margin-left: 52px;
  margin-bottom: 20px;
}

.time {
  text-align: center;
  font-size: 67px;
  font-weight: 700;
  display: flex;
  width: 426px;
  height: 180px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: bold;
  margin: auto;
  margin-top: 40px;
}

.time-play {
  background-color: #8609A5;
  color: white;
}

.time-paused {
  background-color: #D393E3;
  color: rgba(0, 0, 0, 0.70);
}

.study-page-container {
  text-align: center;
}

.study-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 426px;
  height: 180px;
  /* justify-content: space-evenly; */
  margin: auto;
  margin-top: 0px;
  /* margin-left: 75px; 
  margin-right: 75px; */
}

.study-button {
  background-color: transparent;
  color: #8609A5;
  width: 100px;
  border: 0;
  margin: auto;
}

.study-button:hover {
  color: rgba(0, 0, 0, 0.70);
  cursor: pointer;
}

.set-time-button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.70);
  width: 150px;
  height: 55px;
  border-radius: 25px;
  font-size: 18px;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.70);
}

.set-time-button:hover {
  box-shadow: 5px 5px 5px #8609a53b;
  cursor: pointer;
}

.settings-container {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: #D393E3;
  padding: 30px;
  margin: auto;
  width: 400px;
  border-radius: 25px;
  padding-top: 40px;
  margin-top: 15px;
}

.selection-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.selection-button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.70);
  border-radius: 25px;
  font-size: 20px;
  font-family: "Inter", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.70);
  height: 35px;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
}

.selection-button:hover {
  box-shadow: 5px 5px 5px #8609a53b;
  cursor: pointer;
  background-color: #8609A5;
  font-weight: bold;
  color: white;
}

.selection-button:focus {
  background-color: #8609A5;
  font-weight: bold;
  color: white;
}

.back {
  margin-top: 25px;
  width: 50px;
}

.back:hover {
  color: rgba(0, 0, 0, 0.70);
}

/* WALKING PAGE */
.findspot-container {
  text-align: center;
  background-color: #D393E3;
  height: 450px;
  width: 700px;
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: auto;
  border-radius: 25px;
  align-items: center;
}

.image-container {
  height: 380px;
  width: 330px;
  filter: drop-shadow(5px 5px 5px #8609a53b);
  object-fit: contain;
}

.text-container {
  width: 330px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.location-name {
  color: rgba(0, 0, 0, 0.70);
  font-weight: bold;
}

.location-blurb {
  color: white;
  font-weight: bold;
  font-style: italic;
}

.walk-icon {
  width: 75px;
  margin-left: 15px;
  margin-right: 15px;
}

.walk-buttons-container {
  margin-top: 30px;
}

/* LOADING PAGE */
.loading {
  background-color: #8609A5;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 250px;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.walking {
  padding-top: 230px;
}

/* RESPONSIVE DESIGN */
@media (min-width: 501px) and (max-width: 800px) {

/* FindSpot Page */
  .small-findspot {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    padding: 20px;
    padding-top: 60px;
    justify-content: center;
  }

  .small-image-container {
    height: 300px;
  }

  .small-text-container {
    height: 300px;
    margin-bottom: 20px;
  }

/* Home Page */
  .small-logo-container {
    margin-left: 175px;
  }

  .small-logo {
    width: 113px;
    height: 98px;
  }

  .small-title {
    font-size: 50px;
  }

  .small-slogan {
    font-size: 18px;
    margin-right: 170px;
  }

  .small-button {
    width: 220px;
    height: 260px;
  }

  .small-text {
    font-size: 20px;
    width: 150px;
  } 

  /* STUDY PAGE */
  .small-study-button {
    font-size: 16px;
  }

}

@media (max-width: 500px) {
/* HOME PAGE */
  .xs-home {
    width: 100%;
    margin: auto;
    padding: 40px;
  }

  .xs-home-title {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 300px;
  }

  .xs-home-buttons-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    row-gap: 30px;
    margin-top: 40px;
  }

  .xs-title {
    font-size: 40px;
    position: static;
    left: 0px;
    float: left;
    margin-top: 10px;
  }

  .xs-logo {
    margin-top: 20px;
    float: none;
    position: static;
    margin-right: 15px;
  }

  .xs-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
  }

  .xs-slogan {
    text-align: center;
    font-size: 15px;
    width: 300px;
    margin: 0px;
    margin-top: 70px;
  }

  .xs-small-text {
    font-size: 20px;
    width: 150px;
  }

  .xs-button {
    width: 220px;
    height: 260px;
  }

/* STUDY PAGE */
  .timer-block {
    padding-top: 40px;
  }

  .xs-time {
    width: 250px;
    text-align: center;
    font-size: 43px;
  }

  .xs-nav {
    margin: 0px;
    margin: 20px;
    height: 70px;
  }

  .xs-settings {
    width: 300px;
    font-size: 17px;
    margin-top: 40px;
  }

  .xs-study-buttons {
    width: 300px;
  }

  .xs-set-time {
    font-size: 15px;
  }

/* FINDSPOT PAGE */
  .xs-findspot {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 330px;
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: center;
  }

  .xs-container {
    width: 250px;
    height: 230px;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
  }

  .xs-location-name {
    margin-top: 25px;
    font-size: 20px;
  }

  .xs-blurb {
    font-size: 12px;
  }

  .xs-image-container {
    width: 250px;
    height: 230px;
  }

}