* {
  box-sizing: border-box;
}

body {
  background-color: #FFBF69;
  font-family: "Inter", sans-serif;
}
/* HOME PAGE */
/* Home Header */
.home-title {
  padding-top: 70px;
  padding-right: 355px;
}

.logo-container {
  padding-left: 300px;
  position: relative;
  height: 102px;
}

.logo-inner-container {
  position: absolute;
}

.logo-img {
  float: left;
  padding: 10px;
  width: 128px;
  height: 113px;
}

.logo-title {
  left: 120px;
  margin-left: 8px;
  position: absolute;
  font-size: 59px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.70);
}

.slogan {
  padding-left: 450px;
  color: #8609A5;
  text-align: right;
  font-size: 20px;
  font-style: italic;
}

/* Home Buttons */
.home-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.home-button {
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  width: 275px;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: #636363;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.home-button:hover {
  box-shadow: 5px 5px 5px #8609a53b;
}

.laptop-img {
  width: 96px;
  height: 96px;
}

.map-img {
  width: 200px;
  height: 93px;
}

.purple-back {
  background-color: #D393E3;
}

.button1 {
  color: white;
}

.white-back {
  background-color: #FFFFFFB2;
}

.buttontext1 {
  width: 250px;
  text-align: center;
}

/* STUDYING PAGE */
/* Navbar */

.home-img {
  margin-top: 43px;
  margin-left: 52px;
  margin-bottom: 20px;
}

.time {
  text-align: center;
  font-size: 67px;
  font-weight: 700;
  display: flex;
  width: 426px;
  height: 180px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: bold;
  margin: auto;
  margin-top: 40px;
}

.time-play {
  background-color: #8609A5;
  color: white;
}

.time-paused {
  background-color: #D393E3;
  color: rgba(0, 0, 0, 0.70);
}

.study-page-container {
  text-align: center;
}

.study-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 426px;
  height: 180px;
  /* justify-content: space-evenly; */
  margin: auto;
  margin-top: 0px;
  /* margin-left: 75px; 
  margin-right: 75px; */
}

.study-button {
  background-color: transparent;
  color: #8609A5;
  width: 100px;
  border: 0;
  margin: auto;
}

.study-button:hover {
  color: rgba(0, 0, 0, 0.70);
  cursor: pointer;
}

.set-time-button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.70);
  width: 150px;
  height: 55px;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.70);
}

.set-time-button:hover {
  box-shadow: 5px 5px 5px #8609a53b;
  cursor: pointer;
}

.settings-container {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: #D393E3;
  padding: 30px;
  margin: auto;
  width: 400px;
  border-radius: 25px;
  padding-top: 40px;
  margin-top: 15px;
}

.selection-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.selection-button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.70);
  border-radius: 25px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.70);
  height: 35px;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
}

.selection-button:hover {
  box-shadow: 5px 5px 5px #8609a53b;
  cursor: pointer;
}

.selection-button:focus {
  background-color: #8609A5;
  font-weight: bold;
  color: white;
}

.back {
  margin-top: 25px;
  width: 50px;
}

.back:hover {
  color: rgba(0, 0, 0, 0.70);
}

/* WALKING PAGE */
.findspot-container {
  text-align: center;
  background-color: #D393E3;
  height: 450px;
  width: 700px;
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: auto;
  border-radius: 25px;
  align-items: center;
}

.image-container {
  height: 380px;
  width: 330px;
  filter: drop-shadow(5px 5px 5px #8609a53b);
  object-fit: contain;
}

.text-container {
  width: 330px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.location-name {
  color: rgba(0, 0, 0, 0.70);
  font-weight: bold;
}

.location-blurb {
  color: white;
  font-weight: bold;
  font-style: italic;
}

.walk-icon {
  width: 75px;
  margin-left: 15px;
  margin-right: 15px;
}

.walk-buttons-container {
  margin-top: 30px;
}

/* LOADING PAGE */
.loading {
  background-color: #8609A5;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 230px;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
